<header class="d-flex">
  <nav class="navbar navbar-expand-lg w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{ '/assets/imgs/ruby.png' | absolute_url }}" height="32" alt="logo">
        <span class="fs-4">&nbsp;{{site.title}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
</header>